<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>

        <div>
            <p>Sunrise time in your place: {{sunriseTime}}</p>
            <p>Sunset time in your place: {{sunsetTime}}</p>
            <p>State of light in pig's room: {{pigBulbState}}</p>
            <p>addtional paragraph just to test</p>
        </div>

    </body>

</html>