<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <script src="/jquery/jquery.js"></script>       
    </head>
    <body>

        <div>
            <div>
                <p>Sunrise time in your place:</p>
                <p id="sunriseTime">{{sunriseTime}}</p>
            </div>
            <div>
                <p>Sunrise time in your place:</p>
                <p id="sunsetTime">{{sunsetTime}}</p>
            </div>
            <div>
                <p>Sunrise time in your place:</p>
                <p id="pigBulbState">{{pigBulbState}}</p>
            </div>
            <div>
                <p>Last refresh</p>
                <p id="lastRefresh"></p>
            </div>
        </div>

        <script>
        $(function worker(){
            $.ajax({
                url: '/cache', 
                success: function(data) {
                    $("#pigBulbState").html(data.pigBulbState);
                    $("#sunriseTime").html(new Date(data.sunriseTime).toLocaleTimeString());
                    $("#sunsetTime").html(new Date(data.sunsetTime).toLocaleTimeString());
                    $("#lastRefresh").html(new Date().toLocaleTimeString());
                },
                complete: function() {
                    setTimeout(worker, 5*1000);
                }
            });
        });
        </script>

    </body>

</html>