.stat div {
    display: inline-block;
}
.stat > div {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
}

#Actions {
    margin-left: 50px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
}

#lastSeen {
    color: blue;
}

.label {
    font-weight:  bold;
}